.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form, h1 {
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 20px;
    justify-content: center;
    align-items: center;
}
