.home1 {
    overflow: hidden;
    margin-left: 50px;
    height:635px;
}

.home {

    width: auto;
    margin: auto;
    text-align: center;
    overflow: hidden;
  

}

.button {
 
    padding: 16px;
    color: black;
    margin: 50px;
}
.button:hover
{background-color:#023026;
color: white;
transform: translateY(-5px);}

.title{
   color : darkgreen;
   font-style: bold;
   font-size: 60px;
}
h4{
    color: #50C678;
}

.bottom-half {
    background-color:#50C678 ;
    height: 250px;
    margin: 20px;
}
.container2 {

    justify-content: center;
margin: 50px 100px;
padding: 10px;

}
.homepageNote{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;

}
.Login {
   
    padding: 150px;
    background-color: #50C678;

   }
   
   form, h1, h5 {
       
       text-align: center;
   }
   
   .input {   margin: 20px;
      text-align: center;
   }
 